<div class="container mt-5 pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
        <%= f.error_notification %>

        <div class="form-group">
          <%= f.label :email, class: 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.input_field :email, class: 'form-control', required: true, autofocus: true, autocomplete: 'email' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.input_field :password, class: 'form-control', required: true, autocomplete: 'new-password' %>
            <% if @minimum_password_length %>
              <small><em><%= "#{@minimum_password_length} characters minimum" %></em></small>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.input_field :password_confirmation, class: 'form-control', required: true, autocomplete: 'new-password' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
