<div id="<%= dom_id task %>">
  <p>
    <strong>Text:</strong>
    <%= task.text %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= task.assigned_to_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= task.organization_id %>
  </p>

</div>
