<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <p>
      <%= link_to event.title, event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>

<hr>

<%= month_calendar do |date| %>
  <div class="day">
    <%= date.day %>
  </div>
<% end %>
