<div class="container">

  <p style="color: green"><%= notice %></p>

  <h1>Events</h1>

  <div id="events">
    <% @events.each do |event| %>
      <p>
        <%= link_to event.title, event %>
      </p>
    <% end %>
  </div>

  <%= link_to "New event", new_event_path %>

  <hr>
  <%= month_calendar events: @events do |date, events| %>
    <div class="day">
      <%= date.day %>
    </div>
    <% events.each do |event| %>
    <div class="card-header">
      <div class="card-title mt-5">
        <%= link_to event.title , event %> <!-- Example: Display event title -->
      </div>
    </div>

    <% end %>
    <% end %>

</div>
