<div class="container">

  <p style="color: green"><%= notice %></p>

  <h1>Events</h1>

  <div id="events">
    <% @events.each do |event| %>
      <p>
        <%= link_to event.title, event %>
      </p>
    <% end %>
  </div>

  <%= link_to "New event", new_event_path %>

  <hr>
  <%= month_calendar events: @ do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <%= event.title %> <!-- Example: Display event title -->
    <% end %>
  <% end %>

</div>
