<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= member.role %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= member.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= member.birthdate %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= member.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= member.user_id %>
  </p>

</div>
