<p style="color: green"><%= notice %></p>

<div class="container">

  <%= render @member %>

  <div>
    <%= link_to "Edit member", edit_member_path(@member) %> |
    <%= link_to "Back to Members", members_organization_path(@organization) %>

    <%= button_to "Destroy this member", @member, method: :delete %>
  </div>

</div>
